{{>header}}
<input type="search" class="inputH" id="searchInput" placeholder="Enter the painting name ...">
<a id="aImg">
    <img class="searchImg" id="searchImg" src="/assets/search.png">
</a>
{{#if search}}
<h2>The result for your search</h2>
{{else}}
<h2>The four most expensive paintings</h2>
{{/if}}
<div>
    {{#each paintings}}
    <a href="/painting/{{id}}">
        <article class="card">
            <img class="paint" src="{{img}}" alt="{{paintingname }}">
            <div class="contain">
                <p><b> {{paintingname }}</b></p>
                <p>{{price}}</p>
            </div>
        </article>
    </a>
    {{/each}}
</div>
<a href="/painting-form"><button class="addPainting"><img class="add" src="assets/add.png" alt="add">Add Painting
    </button></a>
<script src="/dom.js"></script>