{{>header}}
<input type="search" id="searchInput" placeholder="Enter the painting name ...">
<a id="aImg">
    <img class="searchImg" id="searchImg" src="/assest/search.png">
</a>
{{#if search}}
<h2>The result for your search</h2>
{{else}}
<input type="search" placeholder="Enter the painting name ...">
<img class="searchImg" src="assets/search.png">
<h2>The four most expensive paintings</h2>
{{/if}}
<div>
    {{#each paintings}}
    <a href="/painting/{{id}}">
        <article class="card">
            <img src="{{img}}" alt="{{paintingname }}">
            <div class="content">
                <h2> {{paintingname }}</h2>
                <h2>{{price}}</h2>
            </div>
        </article>
    </a>
    {{/each}}
</div>
<a href="/painting-form"><button>Add Painting</button></a>
<script>
    document.getElementById("searchImg").addEventListener("click", e => {
        const search = document.getElementById("searchInput").value;
        document.getElementById("aImg").href = `/search/${search}`
    })
</script>