{{>header}}
<input type="search" id="searchInput" placeholder="Enter the painting name ...">
<a id="aImg">
    <img class="searchImg" id="searchImg" src="/assets/search.png">
</a>
{{#if search}}
<h2>The result for your search</h2>
{{else}}
<h2>The four most expensive paintings</h2>
{{/if}}
<div>
    {{#each paintings}}
    <a href="/painting/{{id}}">
        <article class="card">
            <img src="{{img}}" alt="{{paintingname }}">
            <div class="content">
                <h2> {{paintingname }}</h2>
                <h2>{{price}}</h2>
            </div>
        </article>
    </a>
    {{/each}}
</div>
<a href="/painting-form"><button>Add Painting</button></a>
<script src="/dom.js"></script>
