<input type="search">
<h2>The four most expensive paintings</h2>
<div>
    {{#each paintings}}
    <a href="/painting/:{{id}}">
        <article>
            <img src="{{img}}" alt="{{name}}">
            <h2> {{name}}</h2>
            <h2>{{price}}</h2>
        </article>
    </a>
    {{/each}}
</div>
<input type="button" value="Add Painting">